body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container-top {
    position: relative;
    color: white;
}


img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #daa520;
    font-weight: 800;
}

h4 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}

.bottom-left {
    position: absolute;
    bottom: 40px;
    left: 120px;
}


p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.text {
    padding-left: 65px;
    padding-right: 70px;
    margin: 60px;

}

.byline {
    padding-left: 65px;
    margin: 60px;
}

.byline p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.name p {
    text-transform: uppercase;

}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    color: #daa520;
    font-weight: bold;
}

blockquote {
    background-color: black;
    border: solid 5px #012e40;
    padding: 30px;
    width: 85%;

}

blockquote p {
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

footer {
    color: white;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}


a {
    font-weight: bold;
    color: white;
}

a:hover {
    color: #086D95;
}

.credits p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding-left: 122px;
    padding-top: 10px;

}

.box {
    padding-left: 130px;

}

.background {
    width: 85%;
    background-color: white;
    padding: 30px;

}

.map {
    padding-left: 130px;
}

.figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding-left: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;

}

.video {
    padding-left: 180px;
}

iframe {
    border: none;
}

@media(min-width: 576px) {
    h2 {
        font-size: medium;
    }
}

@media(min-width: 768px) {
    p {
        font-size: 24px;
    }
    .header-img {
        width: 100%;
    }

    body {
        margin: 30px;
    }

    blockquote {
        padding-left: 50px;
    }
}


@media(min-width: 992px) {
    p {
        font-size: 32px;
    }
}


@media(min-width: 1200px) {
    h2 {
        font-size: 40px;
    }

    h5 {
        font-size: 35px;
    }

    p {
        font-size: 18px;
    }
}
